<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bdsir.passwordaddressbook"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

<!--    Splash Screen dell'applicazione	 -->
<!--         <activity  -->
<!--             android:name=".SplashActivity" -->
<!--             android:label="@string/app_name"> -->
            
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        
<!--    Primo accesso	 -->
        <activity 
            android:name=".FirstAccessAddressBook" 
            android:label="@string/firstAccess" 
            android:windowSoftInputMode="stateHidden" >

            <intent-filter />
        </activity>
        
<!--    Menu principale	-->
        <activity 
            android:name=".MenuAddressBook" 
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!--    Visualizza la rubrica delle password	-->
        <activity 
            android:name=".ViewAddressBook"
            android:label="@string/button_view_addressBook">
            
            <intent-filter />
        </activity>
        
<!--    Aggiunge un nuovo servizio al sistema	-->
        <activity 
            android:name=".AddService" 
            android:label="@string/addService" 
            android:windowSoftInputMode="stateHidden" >
            
            <intent-filter />
        </activity>
        
<!--    Lista modifica servizio	-->
		<activity 
		    android:name=".ListModifyService"
		    android:label="@string/modificaServizio">
		    
		    <intent-filter />
		</activity>

<!-- 	Modifica servizio	-->
		<activity 
		    android:name=".ModifyService"
		    android:label="@string/modificaServizio">
		    
		    <intent-filter />
		</activity>
		
    </application>

</manifest>
