<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bdsir.passwordaddressbook"
    android:versionCode="1"
    android:versionName="1.5.7" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    
    <uses-sdk 
        android:minSdkVersion="14"
        android:targetSdkVersion="15"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

<!--    Splash Screen dell'applicazione	 -->
        <activity 
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!--    Primo accesso	 -->
        <activity 
            android:name=".FirstAccessAddressBook" 
            android:windowSoftInputMode="stateHidden" >
            
            <intent-filter />
        </activity>
        
<!--    Visualizza la rubrica delle password	-->
        <activity 
            android:name=".ViewAddressBook"
            android:windowSoftInputMode="adjustPan" >
            
            <intent-filter />
        </activity>
        
<!--    Aggiunge un nuovo servizio al sistema	-->
        <activity 
            android:name=".AddService" 
            android:windowSoftInputMode="stateHidden" >
            
            <intent-filter />
        </activity>
        
<!--    Lista modifica password	-->
		<activity android:name=".ListModifyPassword" >
		    
		    <intent-filter />
		</activity>

<!-- 	Modifica password	-->
		<activity android:name=".ModifyPassword" >
		    
		    <intent-filter />
		</activity>
		
<!-- 	Dialog Modifica password di sistema -->
		<activity 
		    android:name=".ModifyPasswordSystem"
		    android:theme="@android:style/Theme.Holo.Light.Dialog"
		    android:windowSoftInputMode="stateHidden"
		    android:label="@string/subMenuPassSistema" >
		    
		    <intent-filter />
		</activity>
		
<!-- 	Dialog Elimina servizio -->
		<activity 
		    android:name="bdsir.passwordaddressbook.dialog.RemoveDialog"
		    android:theme="@android:style/Theme.Holo.Light.Dialog"
		    android:label="@string/subMenuElimina" >
		    
		    <intent-filter />
		</activity>
		
<!-- 	Lista elimina servizio 	-->
		<activity android:name=".ListRemoveService">
		    
		    <intent-filter />
		</activity>    
	
<!-- 	BackUp -->
		<activity 
		    android:name="bdsir.passwordaddressbook.json.BackupJson"
		    android:theme="@android:style/Theme.Holo.Light.Dialog"
		    android:label="@string/backup" >
		    
		    <intent-filter />
		</activity>
		
<!-- 	Restore -->
		<activity 
		    android:name="bdsir.passwordaddressbook.json.RipristinoJson"
		    android:theme="@android:style/Theme.Holo.Light.Dialog"
		    android:label="@string/restore" >
		    
		    <intent-filter />
		</activity>
		
	</application>
</manifest>
